# Data base

MONGODB_URI = mongodb://localhost:27017
DB_NAME = e-commerce

# next-auth
GOOGLE_CLIENT_ID= 1479647600-sp5nsslo8fr3oj4c8vbpjd4gtnqdrpum.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-random-secret-key


NODEMAILER_PORT= "587"
NODEMAILER_USER= "vijay kumar"
NODEMAILER_EMAIL= "vijaykumarbhai7379@gmail.com"
NODEMAILER_PASS = "lhjw jolh krow qfms"
NEXT_PUBLIC_URL= "http://localhost:3000"
JWT_SECRET = "suryaishere"