MONGODB_URI = 'mongodb://localhost:27017'
MONGODB_DB = 'auth'
SECRET_KEY= 'your_secret_key_here'

NODEMAILER_HOST = 'smtp.gmail.com'
NODEMAILER_PORT = 587
NODEMAILER_EMAIL = "vijaykumarbhai7379@gmail.com"
NODEMAILER_PASSWORD = "ivyw pgel wbfr qvry" 


PUBLIC_LINK='http://localhost:3000'